@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #dcb53f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Outline */

:root {
  --theme-main: #ffffff;
}

@layer base {
  .theme-white-outline {
    text-shadow: var(--theme-main) 0.05rem 0.05rem 0px,
      var(--theme-main) -0.05rem 0.05rem 0px,
      var(--theme-main) 0.05rem -0.05rem 0px,
      var(--theme-main) -0.05rem -0.05rem 0px;
  }
}
